.form-group{
    display: flex;
}

.form-group input{
    font-size: 18px;
    padding: 22px 29px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.form-group input:focus{
    border: 0;
    box-shadow: none;
}

.form-group button{
    font-size: 20px;
    padding: 20px 97px 20px 59px;
    background: #fd562a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width:767px){
    .form-group button{
        padding: 20px 30px;
        display: flex;
        justify-content: center;
    }
}

.form-group button::after{
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    background:  rgba(255, 255, 244, 0.13);
    background: linear-gradient(to right,rgba(255, 255, 244, 0.13)0%,rgba(255, 255, 244, 0.13)77%,rgba(255, 255, 244, 0.5)92%,rgba(255, 255, 244, 0.0)100%,);
  
}

.form-group button:hover{
    background-color: #fd562a;
    border: #fd562a;
    
   
}

.form-group button:hover::after{
    opacity: 1;
    top: -20%;
    left: -30%;
    transition-property: left,top,opacity;
    transition-duration: 0.7s,0.7s,0.15s;
    transition-timing-function: linear;
}